*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(235, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.search-bar{
    height: 70px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #8b0e72;
    border-radius: 42px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(46, 4, 4, 0.3);
    transition:all 0.3s ease;
}
.search-bar form{
    display: flex;
    align-items: center;
    width: 100%;
}
.search-bar input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 25px;
    border-radius: 5px;
    transition: all 0.3s ease ;
    background: transparent;
    color: white;
    width: 100%;
    margin-left: 10px;
}


.search-btn{
    padding: 10px 20px;
    color:white;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
    background: rgb(42, 95, 165);
    transition:  all 0.3s ease;
}
.search-btn:hover{
    background: rgb(194, 26, 26);
    color: black;  
    transition: 0.4s;
}



