*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(247, 246, 244);
}
#menu{
    list-style: none;
    margin-left: 20px;
    align-items: center;
    
}
#menu li{
    float: left;
    border-right: 1px solid red;
    border-bottom: 2px solid orange;
    position: relative;
}
#menu li:last-child{
    border-right: none;
}
#menu li a{
    display: block;
    color:white;
    text-decoration: none;
    background: black;
    padding: 10px 20px;
}
#menu li a:hover{
    background: orange;
}
#menu li ul{
    list-style: none;
    position: absolute;
    left: -99999px;  
}
#menu li:hover ul{
    left:0
}
#menu li ul li{
    float: none;
    border-right: none;
    border-left:none;
    border-top: 1px solid red;
    border-bottom: 2px solid orange;
    width: 160px;
}
